
.text-field {
    -fx-text-fill: white;
    -fx-font-family: 'Arial';
    -fx-font-size: 1.2em;
}

.text-field .text {
 -fx-underline: true;
 -fx-underline-color: white;
}

.label {
    -fx-text-fill: white;
    -fx-font: 14px "Arial";
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-opacity: 0;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #FFFFFF;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .increment-arrow {
    -fx-opacity: 0;
}

.scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-opacity: 0;
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #FFFFFF;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-shadow-highlight-color : transparent;
    -fx-outer-border : transparent;
    -fx-inner-border : transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color : transparent;
    -fx-body-color: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-alignment: center;
}